<!--Authentication Assignment-->
<!--Main Content Section-->


    <!--if user is in 'Home' page-->
  <% if (title == 'Home'){ %>
  
    <main class="container">
        <div class="jumbotron">
          <h1 class="display-4">Howdy! I'm Diego Narvaez!</h1>
    
          
                <!--Short bio-->
                <div class="container">
                  <div class="row">
                    <div class="col-8">
                        <p class="my-3 h3">Artificial Intelligence Student at Centennial College and Industrial Engineer graduated from University of Lima with 3 years of experience in Logistics and Operations. Innovation driven.</p>
                        <p class="lead mt-4">
                            <a class="btn btn-primary btn-lg" href="/about" role="button">More about Me</a>
                        </p>
                    </div>

                    <div class="col-4">
                        <img class="card-img-top" src="/Assets/images/diego-bio.jpg" alt="Diego Narvaez photo thumbnail">
                    </div>

                  </div>
                </div>

                

            <hr class="my-4">

            
            <h3 class="display-5 m-2">My Projects</h3>
            <!--My Projects Carousel-->
            <div id="projectCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100 img-fluid" src="/Assets/images/webdesign-thumbnail.jpg" alt="First Project">
                            <div class="carousel-caption d-none d-md-block">
                            <h5>Airtime!</h5>
                            <p>Airtime is a celebrity cameo marketplace.</p>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img class="d-block w-100" src="/Assets/images/webdesign-thumbnail.jpg" alt="Second Project">
                            <div class="carousel-caption d-none d-md-block">
                            <h5>Dixie</h5>
                            <p>Dixie is my blockchain artist name.</p>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img class="d-block w-100" src="/Assets/images/webdesign-thumbnail.jpg" alt="Third project">
                        </div>
                </div>
            
            </div>
            <p class="lead m-2">
                <a class="btn btn-primary btn-lg" href="/projects" role="button">Go to my Projects</a>
            </p>



    
        </div>
      </main>
      
    <% } %> 



    <!--if user is in 'About Me' page-->
    <% if (title == 'About Me'){ %>
  
        <main class="container">
            <div class="jumbotron">
              <h1 class="display-4"> Diego Narvaez </h1>
              <p class="lead">Artificial Intelligence Student at Centennial College - Toronto, Canada</p>
              <hr class="my-4">

              <!--My info-->
              <div class="container">
                  <div class="row">
                    <div class="col-8">
                        <p>Artificial Intelligence Student at Centennial College and Industrial Engineer graduated from University of Lima with 3 years of experience in Logistics and Operations. Innovation driven. Proficient in English, Spanish, Portuguese and basic in French. 
                            Advanced level in Excel and Power BI. 
                            Constantly looking for time and work optimization in processes through automation. Very familiar with Microsoft Flow and mobile app technologies.</p>
                    </div>

                    <div class="col-4">
                        <img class="card-img-top" src="/Assets/images/diego-bio.jpg" alt="Diego Narvaez photo thumbnail">
                    </div>

                  </div>
                

              </div>
             
        
              
        
            </div>
          </main>
          
        <% } %> 

    <!--if user is in 'Projects' page-->
    <% if (title == 'Projects'){ %>
  
    <main class="container">
        <div class="jumbotron">
          <h1 class="display-4">My <%= title %> </h1>
    
          <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
          
        


        <!--My Projects Carousel-->
               
            
            <div id="projectCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100 img-fluid" src="/Assets/images/webdesign-thumbnail.jpg" alt="Artime Project">
                            <div class="carousel-caption d-none d-md-block">
                            <h5>Airtime!</h5>
                            <p>Airtime is a celebrity cameo marketplace.</p>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img class="d-block w-100" src="/Assets/images/webdesign-thumbnail.jpg" alt="Dixie Project">
                            <div class="carousel-caption d-none d-md-block">
                            <h5>Dixie</h5>
                            <p>Dixie is my blockchain Crypto-artist name.</p>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img class="d-block w-100" src="/Assets/images/webdesign-thumbnail.jpg" alt="Fluxe project">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Fluxe</h5>
                                <p>Fluxe is a shared parking marketplace mobile app.</p>
                                </div>
                        </div>
                </div>
            
            </div>
            <p class="lead m-2">
                <a class="btn btn-primary btn-lg" href="/contact" role="button">Contact Me</a>
            </p>

        </div> 

        
      </main>
      
    <% } %> 

    <!--if user is in 'Services' page-->
    <% if (title == 'Services'){ %>
  
        <main class="container">
            <div class="jumbotron">
              <h1 class="display-4"> <%= title %> </h1>
        
              <p class="lead">I provide the following services with top-notch quality work:</p>
              
              
              <!--My Services-->
              <div class="card-deck">
                <div class="card">
                  <img class="card-img-top" src="/Assets/images/webdesign-thumbnail.jpg" alt="Web design thumbnail">
                  <div class="card-body">
                    <h5 class="card-title">Web Development</h5>
                    <p class="card-text">Develop a web project using HTML, CSS, and JavaScript. Responsive Web Design will be used as in modern web development.</p>
                    <p class="card-text"><small class="text-muted">Most required by clients</small></p>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top" src="/Assets/images/mobiledev-thumbnail.jpg" alt="App development thumbnail">
                  <div class="card-body">
                    <h5 class="card-title">App Development</h5>
                    <p class="card-text">Develop an app for Android phones. Make your idea a reality. Contact me to discuss about ypur project</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top" src="/Assets/images/blockchain-thumbnail.jpg" alt="Blockchain thumbnail">
                  <div class="card-body">
                    <h5 class="card-title">Intro to Blockchain Technology</h5>
                    <p class="card-text">Introduction to the blockchain technology. Intro to the economics of cryptocurrency like Bitcoin, Ethereum, Polkadot and many more altcoins </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>

            <p class="lead m-2">
                <a class="btn btn-primary btn-lg" href="/contact" role="button">Request a Service</a>
            </p>
        
            </div>
          </main>
          
        <% } %> 

    <!--if user is in 'Contact Me' page-->
    <% if (title == 'Contact Me'){ %>
  
    <main class="container">
        <div class="jumbotron">
          <h1 class="display-4"> <%= title %> </h1>
    
          <p class="lead">Please leave your contact info below so I can contact you with further information.</p>
          <hr class="my-4">

          <!--Contact form-->
          <form>
            <div class="form-group">
              <label for="exampleFormControlInput1">Your Email: </label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="batman@batmail.com">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Service you are interested in: </label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Web Development</option>
                <option>App Development</option>
                <option>Intro to blockchain technology</option>
                <option>None</option>
              </select>
            </div>
            
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Your Message: </label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
            </div>
          </form>
    
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="/success" role="button">Submit</a>
          </p>
    
        </div>
      </main>
      
    <% } %> 

    <!--if user is in 'Success' page-->
    <% if (title == 'Success'){ %>
  
        <main class="container">
            <div class="jumbotron">
              <h1 class="display-4"> <%= title %>! </h1>
        
              <p class="lead">Your information was submitted successfully! I will be in contact with you soon. Thank you.</p>

              <p class="lead">
                <a class="btn btn-primary btn-lg" href="/home" role="button">Go back to Home</a>
              </p>
        
            </div>
          </main>
          
        <% } %> 